/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  background: white;
  z-index: 10;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
  transition: opacity 0.2s ease;
}

.navbar a:hover {
  opacity: 0.7;
}

/* Hero section */
.hero {
  height: 100vh;
  background-image: url("assets/BG.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  
  padding-right: 5%;
  position: relative;
  line-height: 80px;
}
.name span {
  display: block;
}

.name {
  line-height: 0.9;
}

.first-name {
  font-size: clamp(3rem, 6vw, 4.5rem);
  font-weight: 120;
}

.last-name {
  font-size: clamp(4rem, 8vw, 6.5rem);
  font-weight: 700;
}

.tag {
  font-size: 50%;
  font-weight: 100;
  margin-top: .2rem;
  letter-spacing: .6rem;
}

/* Dark overlay */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Hero text above overlay */
.hero h1,
.hero p {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/* General sections */
.section {
  padding: 6rem 2rem;
  max-width: 900px;
  margin: auto;
  color: #111;
}

.section h2 {
  margin-bottom: 1rem;
}
